@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.item-list {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

}

.nav-link {
    color: whitesmoke;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 750;

}

.striping:nth-child(even) {
    background-color:palegoldenrod;
}

body {
    margin: 0px
}

main {
    padding: 0px;
    padding-bottom: 140px;
    padding-left: 30px;

}

img {
    height: 200px;
    width: 200px;
}

nav {
    border-bottom: 2px solid black;
    padding: 16px 16px 16px 16px;
    background-color: peru;


}

footer {
    left: auto;
    right: auto;
    position:sticky;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 200%;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: brown
}

a {
    text-decoration: none;
    color: green;
}

a:hover {
    background-color: rgba(42, 216, 42, 0.274);
  }

* {
    font-family: 'Roboto';
}

tr:nth-child(even) {
    background-color: goldenrod
}
